#big-div {
    border: 2px solid blue;
    width: 720px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    
}
.small-div {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: none;
    transition-duration: none;

}
/* .small-div:hover {
    background-color: grey;
    transition-duration: 100ms;
} */
.small-div-clicked {
    background-color: black;
}