#big-div {
    max-width: 960px;
    max-height: 960px;
    display: flex;
    flex-wrap: wrap;
}
.small-div {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: none;
    transition-duration: 500ms;
}
/* .small-div:hover {
    background-color: grey;
    transition-duration: 100ms;
} */
.small-div-clicked {
    background-color: black;
}