#big-div {
    border: 2px solid blue;
    width: 680px;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}
.small-div {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: none;
    transition-duration: none;

}
.controls {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.squares, #X {
    margin: 0.5em;
}
button {
    margin: 0.5em;
}
/* .small-div:hover {
    background-color: grey;
    transition-duration: 100ms;
} */
.small-div-clicked {
    background-color: black;
}